<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.eopeter.fluttermapboxnavigation">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.eopeter.fluttermapboxnavigation.activity.NavigationActivity" />
        <activity 
            android:name="com.eopeter.fluttermapboxnavigation.activity.StylePickerActivity"
            android:theme="@style/StylePickerTheme" />
        <activity 
            android:name="com.eopeter.fluttermapboxnavigation.activity.SearchActivity"
            android:theme="@style/KtMaterialTheme"
            android:exported="false" />
        <activity 
            android:name="com.eopeter.fluttermapboxnavigation.activity.NavigationReplayActivity"
            android:theme="@style/KtMaterialTheme"
            android:exported="false" />
    </application>

</manifest>
